@model long
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section headerPlugins
{
}

<div id="editChartPageReactContent"></div>
<script type="text/javascript">
    var chartIdentifer = '@Model';
</script>
<script src="@Url.Content("~/Scripts/dist/EditChartApp.js")" type="text/javascript"></script>

