.ulDefaults {
  padding-left: 0px;
  margin-left: 0px;
  list-style-type: none;
  list-style-position: outside;
}
label {
  clear: left;
  text-align: right;
  padding-right: 10px;
}
input,
label {
  float: left;
}
body {
  font-family: Arial, Tahoma, Verdana, Sans-Serif;
  font-size: medium;
}
.subBody {
  width: 80%;
  margin-left: 10%;
}
.header {
  display: block;
}
.header .siteTitle {
  font-size: x-large;
  color: #5493e0;
  font-style: oblique;
  text-decoration: none;
}
.header .loginDiv {
  float: right;
  text-align: right;
  width: 40%;
  overflow: auto;
}
.header .loginDiv .loginLabel {
  font-size: small;
  padding-right: 2px;
  color: #5493e0;
}
.mainContentPanel {
  text-align: left;
  width: 80%;
  height: 100%;
  margin-top: 10px;
}
.mainContentPanel .bodyContainer {
  text-align: left;
  display: block;
}
.mainContentPanel .bodyContainer .bodyContent {
  text-align: left;
  width: 100%;
}
.mainContentPanel .bodyContainer .bodyContent .contentPageTitle {
  font-size: larger;
  color: #5493e0;
  text-align: center;
}
.linkSectionTitle {
  width: 100%;
  color: black;
  font-size: medium;
}
.editItemLabel {
  text-align: right;
  font-style: normal;
}
.windowPanePanel {
  margin-right: 50px;
}
.windowPaneSection {
  margin-right: 50px;
}
.controlTitle {
  color: #5493E0;
  font-style: normal;
  font-size: medium;
}
.leftLinks {
  text-align: left;
  width: 30%;
  float: left;
}
.rightLinks {
  text-align: left;
  width: 30%;
  float: right;
  margin-left: 50%;
}
/* 3 FOOTER */
.footer {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 75px;
  text-align: left;
  font-size: 10px;
}
.footer .footerCopyright {
  float: left;
  width: 30%;
  text-align: left;
}
.footer .footerAbout {
  float: right;
  width: 30%;
  text-align: right;
}
.errorMessage {
  color: Red;
}
.input-validation-error {
  color: Red;
}
.aboutContent ul li {
  list-style-type: disc;
  list-style-position: inside;
}
.textAreaInput {
  width: 90%;
  height: 40em;
}
.commentAreaInput {
  width: 90%;
  height: 10em;
}
