.ulDefaults {
  padding-left: 0px;
  margin-left: 0px;
  list-style-type: none;
  list-style-position: outside;
}
label {
  clear: left;
  text-align: right;
  padding-right: 10px;
}
input,
label {
  float: left;
}
.tabControl {
  height: 50px;
  width: 100%;
  background-color: #5493e0;
  color: #ffffff;
}
.tabControl ul {
  padding-left: 0px;
  margin-left: 0px;
  list-style-type: none;
  list-style-position: outside;
  height: 100%;
  list-style: none;
  font-size: small;
  display: table;
}
.tabControl ul .tabItem {
  height: 100%;
  padding: 0 1em 0 1em;
  display: table-cell;
  color: #ffffff;
  background-color: #5493e0;
  vertical-align: middle;
}
.tabControl ul .tabItem .unselectedLink {
  text-decoration: none;
  color: #ffffff;
}
.tabControl ul .tabItem a {
  text-decoration: none;
  color: #ffffff;
}
.tabControl ul .tabItem a:selected {
  text-decoration: none;
  color: #ffffff;
}
.tabControl ul .tabItem a:visited {
  text-decoration: none;
  color: #ffffff;
}
.tabControl ul .selectedTabItem {
  height: 100%;
  padding: 0 1em 0 1em;
  display: table-cell;
  background-color: #ffffff;
  color: #ffffff;
  vertical-align: middle;
  border-style: solid;
  border-width: thin;
  border-color: #5493e0;
}
.tabControl ul .selectedTabItem .selectedLink {
  text-decoration: none;
  color: #5493e0;
}
.tabControl ul .selectedTabItem a {
  text-decoration: none;
  color: #5493e0;
}
.tabControl ul .selectedTabItem a:selected {
  text-decoration: none;
  color: #5493e0;
}
.tabControl ul .selectedTabItem a:visited {
  text-decoration: none;
  color: #5493e0;
}
