@model AlwaysMoveForward.PointChart.Web.Code.Extensions.TabElements
@using System.Collections.Generic
@if (Model.TabItems.Count > 0)
{   
    <div class="tabControl">
        <ul>
        @for (int i = 0; i < Model.TabItems.Count; i++)
        { 
            <li @if (i == Model.SelectedTab){ <text>class='selectedTabItem'</text> }else { <text>class='tabItem'</text>}>
                <a href="@Model.TabItems[i].TargetUrl">@Model.TabItems[i].Title</a>
            </li>
        }
        </ul>
    </div>
}