<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <AlwaysMoveForward>
    <OAuthEndpoints ServiceUri="http://security.alwaysmoveforward.com" RequestTokenUri="/OAuth/GetRequestToken" AccessTokenUri="/OAuth/ExchangeRequestTokenForAccessToken" AuthorizationUri="/User/Signin" xdt:Transform="Replace"/>
    <OAuthKeys ConsumerKey="29E54E76-B64A-436F-8E2C-039FFEB6149F" ConsumerSecret="42E39CDF-F77A-4E93-86AC-6FB5C66CAB51" xdt:Transform="Replace"/>
    <DatabaseConfiguration ConnectionString="zGkRi49jpxUfcfyl+RALqRHip+MC80DueiQZebV9W+MKV4JC0rNvQ6cqVfnM92QB7Zog30WkeVm+a32aB5d2LTKxELUzCyFGrt1isKuRnKpSPGx2OFRbTkYr22q3ksB1g3tACi+tFb1upDOnYwsEgQ==" DatabaseName="YEL6QATBkoDY5tkNrw25umRL1AJ1OtjjG6pG2UTDxBA=" EncryptionMethod="AES" EncryptionSetting="AlwaysMoveForward/AESEncryptionConfiguration" xdt:Transform="Replace"/>
  </AlwaysMoveForward>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>