<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" requirePermission="false" />
    <sectionGroup name="AlwaysMoveForward">
      <section name="DatabaseConfiguration" type="AlwaysMoveForward.Common.Configuration.DatabaseConfiguration, AlwaysMoveForward.Common" requirePermission="false" />
      <section name="LoggingConfiguration" type="AlwaysMoveForward.Common.Configuration.LoggingConfiguration, AlwaysMoveForward.Common" requirePermission="false" />
      <section name="OAuthEndpoints" type="AlwaysMoveForward.OAuth.Client.Configuration.EndpointConfiguration, AlwaysMoveForward.OAuth.Client" requirePermission="false" />
      <section name="OAuthKeys" type="AlwaysMoveForward.OAuth.Client.Configuration.OAuthKeyConfiguration, AlwaysMoveForward.OAuth.Client" requirePermission="false" />
       <section name="AESEncryptionConfiguration" type="AlwaysMoveForward.Common.Encryption.AESConfiguration, AlwaysMoveForward.Common" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="PointChart">
      <section name="WebSiteConfiguration" type="AlwaysMoveForward.PointChart.Web.Code.Utilities.WebSiteConfiguration, AlwaysMoveForward.PointChart.Web" requirePermission="false" />
    </sectionGroup>
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" requirePermission="false" />
  </configSections>
  <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <session-factory>
      <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
      <property name="dialect">NHibernate.Dialect.MySQL5Dialect</property>
      <property name="connection.driver_class">NHibernate.Driver.MySqlDataDriver, NHibernate</property>
    </session-factory>
  </hibernate-configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <trust level="Full" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>     
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    
  <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers></system.webServer>
  <AlwaysMoveForward>
    <OAuthEndpoints ServiceUri="http://localhost:60001" RequestTokenUri="/OAuth/GetRequestToken" AccessTokenUri="/OAuth/ExchangeRequestTokenForAccessToken" AuthorizationUri="/User/Signin" />
     <OAuthKeys ConsumerKey="204d869d-5cf1-4601-b21f-e62622d8920a" ConsumerSecret="057ac52d-9b99-48be-970b-3290dcac47cd" />
     <!-- localhost -->
    <!-- localhost -->
    <!--    <DatabaseConfiguration ConnectionString="Data Source=localhost; Initial Catalog=PointChartDb; User ID=test; Password=test;" DatabaseName="PointChartDb"/>  -->
    <!-- localhost\DbLocal -->
    <DatabaseConfiguration ConnectionString="Data Source=localhost; Initial Catalog=PointChartDb; User ID=test; Password=test;" DatabaseName="PointChartDb" />
    <AESEncryptionConfiguration EncryptionKey="ab604dc293734e1fb3e530ae37d3150a3466a215a5c147a48058d13971f48755cc233180ed0e4191ae37d578cbca75347cfbd5c08a554e339e77691fb5a2a6bc" Salt="a8fa4ac3f672417482022f4fb97ea3d0b4b599d31d4d4dcdb9ebcbb9b6d9f712" />
    <LoggingConfiguration Source="WebRole" Level="Verbose" LoggingClass="AlwaysMoveForward.Common.Utilities.DefaultLogger" LoggingAssembly="AlwaysMoveForward.Common" />
  </AlwaysMoveForward>
  <PointChart>
    <WebSiteConfiguration UpdateDb="false" EnableSSL="false" DefaultSiteName="AlwaysMoveForward.com" />
  </PointChart>
  <log4net>
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <file value="..\\Logs\\PointChart.log" />
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <datePattern value="yyyyMMdd" />
      <maxSizeRollBackups value="2" />
      <maximumFileSize value="1MB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message %newline" />
      </layout>
    </appender>
    <root>
      <level value="Debug" />
      <appender-ref ref="RollingFile" />
    </root>
    <logger name="NHibernate">
      <level value="ERROR" />
    </logger>
    <logger name="NHibernate.SQL">
      <level value="ERROR" />
    </logger>
  </log4net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>